<div>
	Country : <p style="display:inline; text-align:right">{{country}}</p><br>
	City : <p style="display:inline; text-align:right">{{city}}</p><br>
	Timestamp : <p style="display:inline; text-align:right">{{timestamp}}</p><br>
</div>